/* You can add global styles to this file, and also import other style files */
*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: system-ui, -apple-system, 'Segeo UI', sans-serif;
	line-height: 1.5;
	overflow-wrap: break-word;
}
